<div>
    <nav class="navbar navbar-dark bg-dark new-nav">
        <div class="container">
            <a class="navbar-brand" *ngIf="user">Usuário: {{user.login}}</a>
            <p (click)="logout()">Sair <i class="fas fa-sign-out-alt"></i></p>
        </div>
    </nav>

    <div class="container">
        <div class="page-header">
            <h1><img src="assets/favicon.png">Dragon App</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-success" (click)="modal = true;">Cadastrar novo dragão +</button>
        </div>
        <div class="col-sm-6 col-lg-6 dragon-block" *ngFor="let dragon of dragons; let i = index">
            <div>
                <h5>Nome: <b>{{dragon.name}}</b></h5>
                <p>Tipo: <b>{{dragon.type}}</b></p>
                <p>Criação: <b>{{dragon.createdAt | date: 'dd/MM/yyyy'}}</b></p>

                <div class="acoes-dragon">
                    <i [routerLink]="['/dragon', dragon.id]"  class="fas fa-eye"></i>
                    <i (click)="openEdit(i, dragon)" class="fas fa-edit"></i>
                    <i (click)="deleteDragon(dragon.id, i)" class="fas fa-trash-alt"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-dragon" *ngIf="modal">
    <div>
        <form [formGroup]="dragonN">
            <div class="header-form"><p>Cadastrar <i (click)="modal = false;" class="fas fa-times-circle"></i></p></div>
            <div class="form-group">
                <input type="text" placeholder="Nome" class="form-control"
                formControlName="name" #name required>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Tipo" class="form-control"
                formControlName="type" #type required>
            </div>
            <div class="form-group">
                <input type="submit" (click)="newDragon()" value="Cadastrar" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>

<div class="modal-dragon" *ngIf="modalEdit">
    <div>
        <form [formGroup]="dragonN">
            <div class="header-form"><p>Editar <i (click)="modalEdit = false;" class="fas fa-times-circle"></i></p></div>
            <div class="form-group">
                <input type="text" placeholder="Nome" class="form-control"
                formControlName="name" #name required>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Tipo" class="form-control"
                formControlName="type" #type required>
            </div>
            <div class="form-group">
                <input type="submit" (click)="editDragon()" value="Cadastrar" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>

<ngx-spinner></ngx-spinner>