.dragon-block {
    margin-top: 30px;

    > div {
        border-bottom: 1px solid #353a40;
        padding: 13px;
        border-radius: 5px;
        position: relative;

        p {
            margin-bottom: 5px;
        }
    }
}

.acoes-dragon {
    position: absolute;
    right: 12px;
    bottom: 17px;
}

.acoes-dragon > i {
    margin: 0px 5px;
    cursor: pointer;
}

.new-nav {
    color: white;

    p {
        margin-bottom: 0;
        cursor: pointer;
    }
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;

    img {
        height: auto;
        width: 200px;
        margin-right: 10px;
    }
}



@media (max-width:400px){
    .navbar {
        padding: 3px;
    }
}

